body {
    
    background-color: silver;
    
}

h1 {
    
    font-size: large;
    color: black;
    
}

h2{
    
    font-size: medium;
    color: black;
    
}

p {
    
    color: black;
    
}

